body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}


/* .div{
        width: 700px;
        margin: 0 auto;
    
    } */
/* .stylwtest{
        font-weight: 700;
    }
    .Container {
        width: 580px;
        text-align: left;
        padding: 20px;
        background-color: white;
        border-radius: 6px;
        box-shadow: 2px 2px 10px 5px rgb(225, 223, 223);
        height: 650px;
    } */
.paragraphs span {
    position: relative;
}

.paragraphs span.correct {
    font-family: 'Raleway', sans-serif;
    color: rgb(255, 255, 255);

}

.paragraphs span.inCorrect {
    font-family: 'Raleway', sans-serif;
    color: rgb(219, 8, 8);

}

.paragraphs span.active {
    color: rgb(224, 243, 54);

}

.paragraphs span.active::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    opacity: 0;
    background: rgb(43, 153, 226);
    animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
    50% {
        opacity: 1;
    }

}



