body {
    background-color: rgb(167, 210, 247);
    font-family: 'Raleway', sans-serif;
}
@media(min-width:721px){

    .div{
        width: 700px;
        margin: 0 auto;
    
    }
    .stylwtest{
        font-weight: 700;
    }
    .Container {
        width: 580px;
        text-align: left;
        padding: 20px;
        background-color: white;
        border-radius: 6px;
        box-shadow: 2px 2px 10px 5px rgb(225, 223, 223);
        height: 650px;
    }
    .paragraphs span{
        position: relative;
    }
    .paragraphs span.correct{
        font-family: 'Raleway', sans-serif;
        color: rgb(22, 236, 22);
    
    }
    .paragraphs span.inCorrect{
        font-family: 'Raleway', sans-serif;
        color: rgb(198, 104, 5);
    
    }
    .paragraphs span.active{
        color:rgb(43, 153, 226)
    }
    .paragraphs span.active::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        opacity: 0;
        background: rgb(43, 153, 226);
        animation: blink 1s ease-in-out infinite;
    }
    
    @keyframes blink {
        50%{
            opacity: 1;
        }
        
    }
    .defaultText {
        font-family: 'Raleway', sans-serif;
        border: 1px solid rgb(192, 190, 190);
        padding: 10px;
        border-radius: 6px;
        box-shadow: 2px 2px 10px 5px rgb(225, 223, 223);
        font-size: 16px;
        font-weight: 600;
    
    }
    
    .input{
        margin-top: 10px;
    }
    .inputField {
        box-shadow: 2px 2px 10px 5px rgb(225, 223, 223);
        border: 1px solid rgba(192, 190, 190, 0.421);
        width: 540px;
        padding: 10px 20px;
        border-radius: 6px;
        outline: none;
        font-size: 18px;
        display: none;
    }
    .result{
        box-shadow: 2px 2px 10px 5px rgb(225, 223, 223);
        border: 1px solid rgb(225, 223, 223);    
        padding: 10px;
        border-radius: 6px;
        width: 100px;
        height: 300px;
        font-size: 13px;
    }
    .result p{
        margin-bottom: 2px;
    }
}
@media(max-width:720px){

    .div{
        width: 700px;
        margin: 0 auto;
    
    }
    .stylwtest{
        font-weight: 700;
    }
    .Container {
        width: 580px;
        text-align: left;
        padding: 20px;
        background-color: white;
        border-radius: 6px;
        box-shadow: 2px 2px 10px 5px rgb(225, 223, 223);
        height: 650px;
    }
    .paragraphs span{
        position: relative;
    }
    .paragraphs span.correct{
        font-family: 'Raleway', sans-serif;
        color: rgb(22, 236, 22);
    
    }
    .paragraphs span.inCorrect{
        font-family: 'Raleway', sans-serif;
        color: rgb(198, 104, 5);
    
    }
    .paragraphs span.active{
        color:rgb(43, 153, 226)
    }
    .paragraphs span.active::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        opacity: 0;
        background: rgb(43, 153, 226);
        animation: blink 1s ease-in-out infinite;
    }
    
    @keyframes blink {
        50%{
            opacity: 1;
        }
        
    }
    .defaultText {
        font-family: 'Raleway', sans-serif;
        border: 1px solid rgb(192, 190, 190);
        padding: 10px;
        border-radius: 6px;
        box-shadow: 2px 2px 10px 5px rgb(225, 223, 223);
        font-size: 13px;
        font-weight: 600;
    
    }
    
    .input{
        margin-top: 10px;
    }
    .inputField {
        box-shadow: 2px 2px 10px 5px rgb(225, 223, 223);
        border: 1px solid rgba(192, 190, 190, 0.421);
        width: 240px;
        padding: 10px 20px;
        border-radius: 6px;
        outline: none;
        font-size: 18px;
    }
    .result{
        box-shadow: 2px 2px 10px 5px rgb(225, 223, 223);
        border: 1px solid rgb(225, 223, 223);    
        padding: 10px;
        border-radius: 6px;
        width: 100px;
        height: 300px;
        font-size: 13px;
    }
    .result p{
        margin-bottom: 2px;
    }
}
@media(max-width:600px){

    .div{
        width: 600px;
        margin: 0 auto;
    
    }
    .stylwtest{
        font-weight: 700;
    }
    .Container {
        width: 380px;
        text-align: left;
        padding: 20px;
        background-color: white;
        border-radius: 6px;
        box-shadow: 2px 2px 10px 5px rgb(225, 223, 223);
        height: 650px;
    }
    .paragraphs span{
        position: relative;
    }
    .paragraphs span.correct{
        font-family: 'Raleway', sans-serif;
        color: rgb(22, 236, 22);
    
    }
    .paragraphs span.inCorrect{
        font-family: 'Raleway', sans-serif;
        color: rgb(198, 104, 5);
    
    }
    .paragraphs span.active{
        color:rgb(43, 153, 226)
    }
    .paragraphs span.active::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        opacity: 0;
        background: rgb(43, 153, 226);
        animation: blink 1s ease-in-out infinite;
    }
    
    @keyframes blink {
        50%{
            opacity: 1;
        }
        
    }
    .defaultText {
        font-family: 'Raleway', sans-serif;
        border: 1px solid rgb(192, 190, 190);
        padding: 10px;
        border-radius: 6px;
        box-shadow: 2px 2px 10px 5px rgb(225, 223, 223);
        font-size: 13px;
        font-weight: 600;
    
    }
    
    .input{
        margin-top: 10px;
    }
    .inputField {
        box-shadow: 2px 2px 10px 5px rgb(225, 223, 223);
        border: 1px solid rgba(192, 190, 190, 0.421);
        width: 240px;
        padding: 10px 20px;
        border-radius: 6px;
        outline: none;
        font-size: 18px;
    }
    .result{
        box-shadow: 2px 2px 10px 5px rgb(225, 223, 223);
        border: 1px solid rgb(225, 223, 223);    
        padding: 10px;
        border-radius: 6px;
        width: 100px;
        height: 300px;
        font-size: 13px;
    }
    .result p{
        margin-bottom: 2px;
    }
}
@media(max-width:400px){
 
    .div{
        width: 400px;
        margin: 0 auto;
    
    }
    .stylwtest{
        font-weight: 700;
    }
    .Container {
        width: 280px;
        text-align: left;
        padding: 20px;
        background-color: white;
        border-radius: 6px;
        box-shadow: 2px 2px 10px 5px rgb(225, 223, 223);
        height: 650px;
    }
    .paragraphs span{
        position: relative;
    }
    .paragraphs span.correct{
        font-family: 'Raleway', sans-serif;
        color: rgb(22, 236, 22);
    
    }
    .paragraphs span.inCorrect{
        font-family: 'Raleway', sans-serif;
        color: rgb(198, 104, 5);
    
    }
    .paragraphs span.active{
        color:rgb(43, 153, 226)
    }
    .paragraphs span.active::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        opacity: 0;
        background: rgb(43, 153, 226);
        animation: blink 1s ease-in-out infinite;
    }
    
    @keyframes blink {
        50%{
            opacity: 1;
        }
        
    }
    .defaultText {
        font-family: 'Raleway', sans-serif;
        border: 1px solid rgb(192, 190, 190);
        padding: 10px;
        border-radius: 6px;
        box-shadow: 2px 2px 10px 5px rgb(225, 223, 223);
        font-size: 13px;
        font-weight: 600;
    
    }
    
    .input{
        margin-top: 10px;
    }
    .inputField {
        box-shadow: 2px 2px 10px 5px rgb(225, 223, 223);
        border: 1px solid rgba(192, 190, 190, 0.421);
        width: 240px;
        padding: 10px 20px;
        border-radius: 6px;
        outline: none;
        font-size: 18px;
    }
    .result{
        box-shadow: 2px 2px 10px 5px rgb(225, 223, 223);
        border: 1px solid rgb(225, 223, 223);    
        padding: 10px;
        border-radius: 6px;
        width: 100px;
        height: 300px;
        font-size: 13px;
    }
    .result p{
        margin-bottom: 2px;
    }
}

